<div class="breadcrum col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <a [routerLink]="['']" class="gobackarrow"><i class="material-icons">arrow_back</i></a>
    <span class="product-title">Order Summary</span>
</div>
<!--Pop up if order is above 150k -->
<div *ngIf="orders.length>0">
    <div *ngIf="showAlert">
        <div class="modal fade" id="alertModal" role="dialog" [class.in]="showAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div><button type="button" class="close" data-dismiss="modal" (click)="closeAlert()"><span>&times;</span></button></div>
                    <div class="msg">Attention!</div>
                </div>
                <div class="modal-body">
                    Part of your order is above $150,000 dollars. After you finalize your order summary you will only be able to create an RFQ
                    for that part of the order. If you want to place an order directly please decrease that part of the order
                    to less then $150,000 dollars.
                </div>
            </div>
        </div>
        </div>
    </div>

    <div class="orders container-fluid">
        <div *ngFor="let order of orders;let index=index" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="order">
                <md-card class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 card">
                    <div class="trash">
                        <span class="category-name">{{filterCodes[order.attributes.configurationTypeCode]}}</span><i class="material-icons" (click)="removeOrder(index)">delete_forever</i></div>
                    <div class="product-img col-xs-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <!--<img [src]="order.attributes?.imageUrl || config.defaultImage">-->
                        <!--<img [src]="config?.defaultImage">-->
                        <img md-card-image alt="Product image" class="product-image grow" src='{{gssFileSystemUrl}}/{{order.attributes?.contractorClinId}}/{{order.attributes?.contractorClinId}}-1.png'
                        />
                    </div>
                    <div class="product-content col-xs-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-none pr-none">
                            <div class="product-name col-xs-8 col-sm-12 col-md-6 col-lg-6 col-xl-6">{{order.attributes?.itemName}}</div>
                            <div class="quan-price col-xs-4 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="pull-right">
                                    <div class="quantity">
                                        <span (click)="updateQuantity(index, true)">
                                            <i class="fa fa-angle-up" aria-hidden="true"></i>
                                        </span><br/>
                                        <span class="count"><md-input [restrictKey]="'^[0-9]*$'" [ngModel]="order.quantity" name="prodQuantity" (ngModelChange)="updateMultiQuantity(index, $event)"></md-input></span><br/>
                                        <span (click)="updateQuantity(index, false)"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                    </div>
                                    <div class="price">{{order.attributes?.discountedUnitPrice | currency:'USD':true}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 product-desc">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><b>Contract Holder</b><br/>
                                <p>{{order.attributes?.contractorName}}</p>
                                <span><b>Manufacturer Part Number</b></span><br/>{{order.attributes?.oemPartNum}}
                            </div>
                            <!--<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6"><p>{{order.attributes?.itemSpecifications}}</p></div>-->

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 os-spec">{{order.attributes?.itemSpecifications | slice:0:displayCharCount}}
                                <span *ngIf="order.attributes?.itemSpecifications.length>displayCharCount" class="spec" id="spec{{index}}" [popover]="order.attributes?.itemSpecifications" [popoverCloseOnClickOutside]="true"
                                popoverPlacement="left">...See More</span>
                            </div>
                        </div>
                        <div class="view-add col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" (click)="showAddons=!showAddons" *ngIf="order.addons.length>0">
                            <span class="addons">VIEW ADD ONS<a (click)="toggleAddons(index)"><i *ngIf="showAddons" class="fa fa-angle-up" aria-hidden="true"></i><i *ngIf="!showAddons" class="fa fa-angle-down" aria-hidden="true"></i></a></span>
                        </div>
                    </div>
                </md-card>
                <div class="addons" *ngIf="viewAddons(index)">
                    <div class="content">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 addonlist">
                            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3" *ngFor="let option of order.addons; let addonIndex=index">
                                <md-card class="product">
                                    <md-card-content>
                                        <md-card-title class="addon-title">{{addonsType[option.configurationTypeCode]}}</md-card-title>
                                        <div class="desc">{{option.itemName}}</div>
                                        <div>
                                            <span class="price">{{option.discountedUnitPrice | currency:'USD': true}}</span>
                                            <span class="quantity">
                                                <!--<span (click)="updateQuantity(option, true, order.orderAmount)"><i class="fa fa-angle-up" aria-hidden="true"></i></span><br/>-->
                                            <span (click)="updateAddonQuantity(index, true, addonIndex)"><i class="fa fa-angle-up" aria-hidden="true"></i></span><br/>
                                            <span class="count"><md-input [restrictKey]="'^[0-9]*$'" [ngModel]="option.quantity" name="prodAddonQuantity" (ngModelChange)="updateAddonMultiQuantity(index, $event, addonIndex)"></md-input></span><br/>
                                            <span (click)="updateAddonQuantity(index, false, addonIndex)"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                            </span>
                                        </div>
                                    </md-card-content>
                                </md-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--save and checkout buttons-->
    <div class="total no-padding col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 " *ngIf="orders.length>0">
        <div class="container-fluid">
            <!--<div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
            <div class="add-button col-xs-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <a class="total-amount">Total: {{totalAmount | currency:'USD': true}}</a>
                <a class="save-later" (click)="saveOrder()">SAVE FOR LATER</a>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" (click)="finalizeOrder()">CHECKOUT</button>
            </div>-->
            <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <!--<a class="total-amount">Total: {{totalAmount | currency:'USD': true}}</a>-->
            </div>
            <div class="add-button col-xs-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <a class="total-amount">Total: {{totalAmount | currency:'USD': true}}</a>
                <a class="save-later" (click)="saveOrder()">SAVE FOR LATER</a>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" (click)="finalizeOrder()">CHECKOUT</button>
            </div>
        </div>
    </div>
</div>
<!--displays message if there are no orders added-->
<div *ngIf="orders.length == 0">
    <span>You have not order anything.</span>
</div>