<my-modal #deleteModal [modal]="'deleteModal'" [size]="'sm'"></my-modal>
<poc-modal #pocModal [modal]="'pocModal'"></poc-modal>
<div class="breadcrum col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <a (click)='back()' class="gobackarrow"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    <span class="product-title">{{listLabel}}</span>
</div>
<div *ngIf="orders.length>0">
    <div class="orders container">
        <div class="order-per-page col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="pull-left">
                <search [searchString]="searchString" (filterSearch)="handleSearchChange($event)" (click)="search()"></search>
                <!--
                <md-input placeholder="Search" [(ngModel)]='searchString'></md-input>
                <span role="button" md-prefix (click)="search()"><i class="fa fa-search" aria-hidden="true"></i></span>
                --> 
            </div>
            <div class="pull-right">
                <span>Orders per Page: </span>
                <select class="selectpicker" [(ngModel)]="perPage" (ngModelChange)="p=1;setPage(1)">
                 <optgroup label="--select--">
                 <option>10</option>
                 <option>25</option>
                 <option>50</option>
                 <option>100</option>
                 </optgroup>
             </select>
            </div>
        </div>
        <br/>
        <div class="pull-right">
            <pagination-controls maxSize={{totalPages}} (pageChange)="p = $event; setPage(p)"></pagination-controls>
        </div>
        <div *ngFor="let order of orders | paginate: {itemsPerPage: perPage,
                                                      currentPage: p,
                                                      totalItems: ordersCount};let index=index">
            <md-card class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 saved-product">
                <md-card-title class="saved-title col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="product-name col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6" [innerHTML]="orderTitle(order)">
                    </div>
                    <div class="product-price col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6"><span>{{order?.totalPrice | currency:'USD':true:'1.2-2'}} </span>
                        &nbsp;<span *ngIf="userType==='CUSTOMER' && listType==='s'" role="button" class="glyphicon glyphicon-trash" (click)="deleteModal.showModal(order)"></span>&nbsp;</div>
                </md-card-title>
                <div class="clearfix customer-info col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="product-name" [innerHTML]="customerInfo(order)"></div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 product-order">
                      <a [routerLink]="action(order)" [queryParams]="{type: listType }">
                         VIEW&nbsp;ORDER
                      </a>
                      <button *ngIf="userType==='CUSTOMER'" type="button" class="btn btn-default" 
                           (click)="pocModal.showModal(order, index)">
                           {{orderAction(order)}}</button>
                    </div>
                </div>
            </md-card>
        </div>
    <div class="pull-right">
        <pagination-controls maxSize={{totalPages}} (pageChange)="p = $event; setPage(p)"></pagination-controls>
    </div>
</div>
</div>
<div *ngIf="onLoading" class="row text-center">
    Loading ...
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</div>
<div *ngIf="!onLoading && orders.length === 0">
    <span>You have not ordered anything.</span>
</div>